#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	box-sizing: border-box;
}

.card {
	padding: 2em;
}

input {
	border: 2px solid rgba(19, 6, 201, 0.295);
	border-radius: 5px;
}
